<app-home-producto></app-home-producto>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <div class="list-products">
        <h2 class="mt-5 titulo">Información del Developer</h2>
        <h3 class="mt-3 texto">Si encuentra algún desperfecto en esta página, por favor comunícalo
                        en los siguientes lugares:
        </h3>
        <ul class="mt-5 texto" style="color: white;">
            <li class="mt-2 texto" style="font-size: 20px;">Gmail: nicolasgudino17@gmail.com</li>
            <li class="mt-2 texto" style="font-size: 20px;">GitHub: <a href="https://github.com/NikoGudinio">Niko Gudinio</a></li>
            <li class="mt-2 texto" style="font-size: 20px;">Linkedin: <a href="https://www.linkedin.com/in/nicol%C3%A1s-gudi%C3%B1o-96730a191/">Nicolás Gudiño</a></li>
        </ul>
    </div>
</body>
</html>
