<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>
        <ul>
            <li class="texto" style="font-size: 20px;" routerLink="/"><a>Inicio</a></li>
            <li class="texto" style="font-size: 20px;" routerLink="/listar-producto"><a>Ver Productos</a></li>
            <li class="texto" style="font-size: 20px;" routerLink="/about-us"><a>Sobre Nosotros</a></li>
        </ul>
    </div>
</body>
</html>